body{
  background-image: url(https://mocah.org/uploads/posts/359502-4k-wallpaper.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
  padding: 0%;
}

.App{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  /* flex-direction: column; */
}